h1{
  color: aqua;
  background-color: black;
  text-align: center;
}

img{
  display: block;
  margin: auto;
  margin-top: 100px;
}

li{
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

a{
  text-decoration: none;
}